services:
  drupal:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    volumes:
      - drupal-modules:/var/www/html/modules
      - drupal-profiles:/var/www/html/profiles
      # - drupal-themes:/var/www/html/themes
      - drupal-sites:/var/www/html/sites
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.drupal.rule=Host(`drupal-drupal-ywtf5i-e1df18-91-107-195-167.traefik.me`)"
      - "traefik.http.routers.drupal.entrypoints=web"
      - "traefik.http.services.drupal.loadbalancer.server.port=80"

  postgres:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - dokploy-network

volumes:
  drupal-modules:
  drupal-profiles:
  drupal-themes:
  drupal-sites:
  db-data:

networks:
  dokploy-network:
    external: true
